*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
old/
mnist/
data/*
!data/miotcd*
backup/*
results/*
goodresults/*
goodresults*/*
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
bad.list
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp


*~
*.log
*.weights
